<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <servers>
        <server>
            <username>admin</username>
            <password>{CT5L7eRnoKAHtMkLiFfKWGUnIykFEmh8G9ueTnV1JMc=}</password>
            <id>central</id>
        </server>
        <server>
            <username>admin</username>
            <password>{CT5L7eRnoKAHtMkLiFfKWGUnIykFEmh8G9ueTnV1JMc=}</password>
            <id>snapshots</id>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>artifactory</id>
            <repositories>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>mkpt-nexus-paytm-release</id>
                    <url>https://nexusartifactory.paytm.com/repository/pgp-release/</url>
                </repository>
                <repository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>mkpt-nexus-paytm-snapshot</name>
                    <url>https://nexusartifactory.paytm.com/repository/pgp-snapshot/</url>
                </repository>
                <repository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>https://pgp-automation.paytm.in/artifactory/libs-release</url>
                </repository>
                <repository>
                    <snapshots/>
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>https://pgp-automation.paytm.in/artifactory/libs-snapshot</url>
                </repository>
                <repository>
                    <id>bintray-epam-reportportal</id>
                    <name>bintray</name>
                    <url>http://dl.bintray.com/epam/reportportal</url>
                </repository>

                <!-- <repository>
                  <snapshots>
                    <enabled>false</enabled>
                  </snapshots>
                  <id>snapshotcentral</id>
                  <name>libs-release</name>
                  <url> http://10.140.32.166:80/artifactory/libs-release</url>
                </repository>
            <repository>
                  <snapshots />
                  <id>snapshotsadmin</id>
                  <name>libs-snapshot</name>
                  <url> http://10.140.32.166:80/artifactory/libs-snapshot</url>
                </repository> -->

            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <id>central</id>
                    <name>libs-release</name>
                    <url>http://artifactory-pg-internal.paytm.com/artifactory/libs-release</url>
                </pluginRepository>
                <pluginRepository>
                    <snapshots />
                    <id>snapshots</id>
                    <name>libs-snapshot</name>
                    <url>http://artifactory-pg-internal.paytm.com/artifactory/libs-snapshot</url>
                </pluginRepository>

                <!-- <pluginRepository>
                      <snapshots>
                        <enabled>false</enabled>
                      </snapshots>
                      <id>snapshotcentral</id>
                      <name>plugins-release</name>
                      <url> http://10.140.32.166:80/artifactory/plugins-release</url>
                    </pluginRepository>
                    <pluginRepository>
                      <snapshots />
                      <id>snapshotsadmin</id>
                      <name>plugins-snapshot</name>
                      <url> http://10.140.32.166:80/artifactory/plugins-snapshot</url>
                    </pluginRepository> -->
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>artifactory</activeProfile>
    </activeProfiles>
    <pluginGroups>
        <pluginGroup>org.sonarsource.scanner.maven</pluginGroup>
    </pluginGroups>
</settings>

